<div class="jumbotron text-center">
  <h1>MEAN APP com autenticação</h1>
  <h2 class="lead">Bem vindo ao meu aplicativo.</h2> 
  <p class="lead">Este aplicativo foi desenvolvido do zero com o intúito de aprimorar minhas habilidades com o frameword MEAN.</p> 
  <p class="lead">Você pode se cadastrar, logar e fazer pesquisas no twitter através deste aplicativo.</p> 
  
  <div>
    <a class="btn btn-primary" [routerLink]="['/register']">Cadastro</a>
    <a class="btn btn-default" [routerLink]="['/login']">Login</a>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3 class="text-center">Express Backend</h3>
    <p>Um servidor sólido construido com NodeJs e Express, utilizando mongoose(MongoDB) para organizar os modelos e querys na base de dados</p>
  </div>
  <div class="col-md-4">
    <h3 class="text-center">Angular-cli</h3>
    <p>Angular-cli foi utilizado para gerar os componentes, serviços e mais. Desenvolimento local e compilação</p>
  </div>
  <div class="col-md-4">
    <h3 class="text-center">JWT Token</h3>
    <p>Autenticação de dados com JSON web Tokens. Registro de dados criptografados</p>
  </div>
  </div>
  